.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 10px 30px;
}

.links a {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  margin-right: 40px;
  text-decoration: none;
  font-family: "Merriweather", serif;
  font-size: 2rem;
}

.links a.active {
  color: #cf8c22;
}

.icon-navbar {
  font-size: 2rem;
  width: 2em !important;
  height: 2em !important;
  color: white;
  background-color: #1e1e1e;
  flex-shrink: 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.icon-navbar:hover {
  color: #cf8c22;
}

.icon-navbar:hover {
  color: #cf8c22;
}

.links a:hover {
  color: #cf8c22;
  transition: color 0.2s ease;
}
