.home {
  text-align: center;
  margin-top: 100px;
}

.home h1 {
  font-size: 2.5rem;
  color: #cf8c22;
  font-family: 'Merriweather', serif;
}

.home p {
  font-size: 1.2rem;
  color: #ddd;
  margin-top: 10px;
}
