.login_upper-wrapper {
  width: 100%;
  height: 40%;
}
.login_lower-wrapper {
  width: 100%;
  height: 40%;
}
.login_header-wrapper {
  height: 20%;
}
.login_header {
  text-align: center;
  font-family: Merriweather;
  font-weight: 900;
  font-size: 45px;
  color: white;
}
.login_span {
  color: #cf8c22;
}
.login_sec-header {
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -2.2%;
  color: white;
  margin-bottom: 10px;
}
.login_link {
  text-align: end;
}
.login_icon-wrapper {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_link-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
a {
  color: #cf8c22;
}

.login-message {
  margin-top: 10px;
  font-size: 0.9rem;
}

.login-message.success {
  color: #4caf50;
}

.login-message.error {
  color: #f44336;
}
