.sign-up_upper-wrapper {
  width: 100%;
  height: 40%;
}
.sign-up_lower-wrapper {
  width: 100%;
  height: 40%;
}
.sign-up_header-wrapper {
  height: 20%;
}
.sign-up_header {
  text-align: center;

  font-family: Merriweather;
  font-weight: 900;
  font-size: 45px;
  color: white;
}
.sign-up_span {
  color: #cf8c22;
}
.sign-up_sec-header {
  font-family: Merriweather;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -2.2%;
  color: white;
}
.sign-up_link {
  text-align: end;
}
a {
  color: #cf8c22;
}
.sign-up_icon-wrapper {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-up_link-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.signup-message {
  margin-top: 10px;
  font-size: 0.9rem;
}

.signup-message.success {
  color: green;
}

.signup-message.error {
  color: #f44336;
}
