* {
  box-sizing: border-box;
  font-family: Merriweather;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: #1e1e1e;
  width: 100%;
}

a {
  text-decoration: none;
}
