.input {
  width: 100%;
  margin-bottom: 20px;
}

.inputfield {
  width: 100%;
  height: 35px;
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 20px 15px;
  color: black;
}

.inputfield::placeholder {
  color: black;
}

.input_header {
  font-size: 12px;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
  margin-top: 15px; 
}

.input_wrapper {
  height: 35px;
  position: relative;
}

.email-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 20px;
  pointer-events: none;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 20px;
  pointer-events: none;
}