.review {
  margin-top: 15px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.review_textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.review_title {
  color: white;
  font-size: 20px;
  padding: 5px;
}
.review {
  font-size: 12px;
}
.review.success {
  color: green;
}
.review.error {
  color: red;
}
.review-stars {
  margin-bottom: 10px;
}
