.popup-layout {
  width: 90%;
  max-width: 400px;

  padding: 15px;
  border-radius: 15px;
  border: 1px solid #cf8c22;
  position: relative;
  background-color: #1a1a1a;
  max-height: 100vh;
  overflow-y: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  position: fixed;
  z-index: 1000;
}

.popup-layout_section-info {
  height: 30%;
  /* background-color: pink; */
}
.popup-layout_header {
  /* padding-top: 20px; */

  color: white;
  font-size: 17px;
}

.popup-layout_time {
  font-size: 16px;
}
.popup-layout_info {
  font-size: 11px;
}
.popup-layout_amount-space,
.popup-layout_amout-signup {
  font-size: 10px;
}
.x {
  font-size: 30px;
  color: #cf8c22;
  cursor: pointer;
  top: 0px;
  left: 0px;
  position: sticky;
}

.popup-layout_amount-space,
.popup-layout_info,
.popup-layout_amout-signup,
.popup-layout_time {
  color: white;
  margin-top: 10px;
}
.popup-layout_btns {
  /* background-color: green; */
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  height: 70px;
  position: relative;
}
.popup-layout_downIcon {
  font-size: 17px;
}
.popup-layout_carousel {
  margin-top: 10px;
  background-color: white;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}
.popup-layout_info-text {
  font-size: 10px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.popup-layout_info-text.success {
  color: green;
}

.popup-layout_info-text.error {
  color: red;
}
