/* .popup-layout {
  width: 400px;

  padding: 45px;
  border-radius: 15px;
  border: 1px solid #cf8c22;
  position: relative;
  min-height: 600px;
} */
.popup-layout {
  width: 90%;
  max-width: 400px;

  padding: 15px;
  border-radius: 15px;
  border: 1px solid #cf8c22;
  position: relative;
  background-color: #1a1a1a;
  max-height: 100vh;
  overflow-y: auto;
}

/* .popup-layout {
  width: 90%;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 5vw;
  border-radius: 15px;
  border: 1px solid #cf8c22;
  position: relative;
  background-color: #1a1a1a;
  box-sizing: border-box;
} */

.popup-layout_img-wrapper {
  height: 20%;
  width: 100%;
  /* background-color: greenyellow; */
}
.popup-layout_img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.popup-layout_section-info {
  height: 30%;
  /* background-color: pink; */
}
.popup-layout_header {
  /* padding-top: 20px; */

  color: white;
  font-size: 17px;
}

.popup-layout_time {
  font-size: 16px;
}
.popup-layout_info {
  font-size: 11px;
}
.popup-layout_amount-space,
.popup-layout_amout-signup {
  font-size: 10px;
}
.x {
  font-size: 30px;
  color: #cf8c22;
  cursor: pointer;
  top: 10px;
  left: 10px;
  position: sticky;
}

.popup-layout_amount-space,
.popup-layout_info,
.popup-layout_amout-signup,
.popup-layout_time {
  color: white;
  margin-top: 10px;
}
.popup-layout_btns {
  /* background-color: green; */
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.popup-layout_downIcon {
  font-size: 17px;
}
.popup-layout_carousel {
  margin-top: 10px;
  background-color: #cf8c22;
  height: auto;
  padding: 10px;
  border-radius: 5px;
}
